*{
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
   
  
}
nav{
    width: 100%;
    height: 30px;
    background-color: brown;
    display: flex;
    justify-content:space-around;


   
   
   
}

a{
    text-decoration: none;
    background-color:brown;
    display: flex;
    justify-content: center;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 80px;
}
.photo{
   width: 100%;
   display: flex;
}
.photo img{
    width: 100px;
    height: 200px;
    border: 2px solid black;
    border-radius: 30px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
   
  
}
.photo img:hover{
    width: 150px;
    height: 300px;
    transition:  2s ease-in-out;
    transition:  2s ease-in;
}